@charset "utf-8";

.nav {
  width: 100%; height: 8.5vh;
  min-height: 54px;
  background-color: #333;
  margin: 0; padding: 0;
  list-style-type: none;
  position: fixed; top: 0; left: 0;
  z-index: 7;
}

/* 로그인 전 */
.nav.noneSession{
  display: grid; grid-template-columns: 13vw 74.8vw 12.2vw; grid-template-rows: 1fr;
}

/* 로그인 후 */
.nav.existSession{
  display: grid; grid-template-columns: 13vw 63vw 24vw; grid-template-rows: 1fr;
}

/* 로고 영역 (공통 사용)*/
.nav_logo{
	width : 100%;
	height : 100%;
	display: flex;
	justify-content : center;
	align-items : center;
	background-color: red; /*테스트*/
}
.nav_logo>span{cursor: pointer;}

/* 공백 영역 (공통 사용) */
.nav_blank{
	display: inline-block;
	background-color: orange; /*테스트*/
}
/* 로그인 버튼 영역 (개별 사용)*/
.nav_btnSpace_noneSession{
	width : 100%;
	height : 100%;
	display: flex;
	justify-content : flex-start;
	align-items : center;
	background-color: yellow; /*테스트*/
}

/* 로그인 버튼 */
.nav_btnSpace_noneSession>button{
	width: 87%;
	height: 80%;
	border-radius : 2em;
	background-color: lightblue; /*테스트*/	
}
.nav_btnSpace_noneSession>button:active, .nav_btnSpace_noneSession>button:focus{
	outline:none;
}

/* 마이페이지 버튼 + 로그아웃 버튼 영역 (개별 사용)*/
.nav_btnSpace_existSession{
	display: inline-block;
	background-color: green; /*테스트*/
}