@charset "utf-8";

.navigation {
  width: 100%; height: 8.5vh;
  min-height: 54px;
  background-color: #333;
  margin: 0; padding: 0;
  list-style-type: none;
  position: fixed; top: 0; left: 0;
  z-index: 7;
}

/* 로그인 전 */
.navigation.noneSession{
  display: grid; grid-template-columns: 13vw 74.8vw 12.2vw; grid-template-rows: 1fr;
}

/* 로그인 후 */
.navigation.existSession{
  display: grid; grid-template-columns: 13vw 63vw 23vw 1vw; grid-template-rows: 1fr;
}

/* 로고 영역 (공통 사용)*/
.nav_logo{
	width : 100%; height : 100%;
	display: flex; justify-content : center; align-items : center;
}
.nav_logo>span{
	font-family: 'Hind Vadodara', sans-serif; font-size : 40px; font-weight : 700;
	color : #6c5ce7;
	cursor: pointer;
}

/* 공백 영역 (공통 사용) */
.nav_blank{
	display: flex; justify-content: flex-end; align-items: flex-end;
	
}
.nav_blank>span{
	margin: 0 10px 10px 0;
	color : white;
	font-size : 15px;
}
.nav_blank>span>b{
	font-size : 20px;
}

/* 로그인 버튼 영역 (개별 사용)*/
.nav_btnSpace_noneSession{
	width : 100%; height : 100%;
	display: flex; justify-content : flex-start; align-items : center;
}
.nav_btnSpace_noneSession>button{
	width: 82%; height: 80%;
	border : none; border-radius : 2em;
	cursor : pointer;
	background-color: lightblue; /*테스트*/	
}
.nav_btnSpace_noneSession>button:active, .nav_btnSpace_noneSession>button:focus{
	outline:none;
}

/* 마이페이지 버튼 + 로그아웃 버튼 영역 (개별 사용)*/
.nav_btnSpace_existSession{
	display: flex; justify-content : space-around; align-items : center;
}
.nav_btnSpace_existSession>button{
	width: 43%; height: 80%;
	border : none; border-radius : 2em;
	cursor : pointer;
	background-color: lightblue; /*테스트*/	
}
.nav_btnSpace_existSession>button:active, .nav_btnSpace_existSession>button:focus{
	outline:none;
}