@charset "utf-8";

/* 공통 부분 */
@import "./include/nav.css";
@import "./include/footer.css";

/* 각 페이지의 css */
@import "home.css";
@import "user.css";
@import "mypage.css";
@import "board.css";

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');

/* 공통 태그의 css */

* {
  	box-sizing: border-box;
}

html {
  	width: 100vw;
  	height: auto;
  	min-height: 100vh;
  	overflow-x: hidden;
}

body>#content{
	width: 100%;
	height : auto;
	min-height: 91.5vh;
	position : absolute;
	top : 8.5vh;
	left : 0;
}

/* 마우스 오버시 누르기 모양으로 변경 */
.cursorPointer{
	cursor: pointer;
}